<!DOCTYPE html>
<html>
    <head>
        <title>Dynamic Form</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            /* Add your CSS styling here */
        </style>
    </head>
    <body>
        <div id="dynamic-form-container"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                var tasksSchema = {{ tasks_schema|safe }};

                function createFormElements(schema) {
                    var formHtml = '<form id="dynamic-form">';
                    var requiredFields = schema.required || [];

                    for (var key in schema.properties) {
                        var field = schema.properties[key];
                        var isRequired = requiredFields.includes(key);
                        var fieldId = 'field-' + key;

                        // Initial visibility based on 'required' and 'dependencies'
                        var isVisible = isRequired || (schema.dependencies && schema.dependencies[key]);

                        formHtml += '<div class="form-group"' + (isVisible ? '' : ' style="display: none;"') + ' id="' + fieldId + '">';
                        formHtml += '<label for="' + key + '">' + field.description + '</label>';

                        switch (field.type) {
                            case 'string':
                                formHtml += '<input type="text" id="' + key + '" name="' + key + '" class="form-control"><br>';
                                break;
                            case 'boolean':
                                formHtml += '<input type="checkbox" id="' + key + '" name="' + key + '" class="form-check-input"><br>';
                                break;
                            // Add other types as needed
                        }
                        formHtml += '</div>';
                    }

                    formHtml += '<input type="submit" value="Submit" class="btn btn-primary"></form>';
                    return formHtml;
                }

                var formHtml = createFormElements(tasksSchema);
                $('#dynamic-form-container').html(formHtml);

                // Add event listeners for dependency handling
                handleDependencies(tasksSchema);
                handleConditionalLogic(tasksSchema);
            });

            function handleDependencies(schema) {
                if (schema.dependencies) {
                    for (var key in schema.dependencies) {
                        $('#' + key).change(function() {
                            var dependentFields = schema.dependencies[this.id];
                            dependentFields.forEach(function(dependentKey) {
                                $('#field-' + dependentKey).toggle(this.checked);
                            });
                        });
                    }
                }
            }

            function handleConditionalLogic(schema) {
                if (schema.if && schema.then && schema.else) {
                    var conditionFieldName = Object.keys(schema.if.properties)[0];
                    var thenRequiredFields = schema.then.required || [];
                    var elseRequiredFields = schema.else.required || [];

                    $('#' + conditionFieldName).change(function() {
                        var conditionValue = $(this).is(':checked');
                        updateConditionalFields(conditionValue, thenRequiredFields, elseRequiredFields);
                    });

                    // Initial state based on current value
                    var initialConditionValue = $('#' + conditionFieldName).is(':checked');
                    updateConditionalFields(initialConditionValue, thenRequiredFields, elseRequiredFields);
                }
            }

            function updateConditionalFields(conditionValue, thenFields, elseFields) {
                var fieldsToShow = conditionValue ? thenFields : elseFields;
                fieldsToShow.forEach(function(field) {
                    $('#field-' + field).show();
                });

                var fieldsToHide = conditionValue ? elseFields : thenFields;
                fieldsToHide.forEach(function(field) {
                    $('#field-' + field).hide();
                });
            }
        </script>
    </body>
</html>
